<div class="papa">
  <div class="izquierda">
    <div class="header-izq">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
    <div class="row-izq">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
    <div class="row-izq">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
    <div class="row-izq">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
  </div>
  <div class="derecha">
    <div class="header-der">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
    <div class="ror-der">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
    <div class="ror-der">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
    <div class="ror-der">
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
      <div>Izquierda</div>
    </div>
  </div>
</div>
